<html>

<head>
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="icon" href="/img/weather.png">
</head>
<title>404</title>

<body>
  <div class="main-content">
    {{>header}}
    <p>{{message}}</p>
  </div>

    {{>footer}}
</body>

</html>